body{
    background-image:url("background.jpg");
    background-size: 100% 100%;
	background-repeat: no-repeat;
	color:white;
	font-size: 1em;
	line-height: 1.3;
	font-family: sans-serif /*{global-font-family}*/;
	 
}
#page-wrap{
	
	background-color:#B8B8B8;
}


#h1{
    background-image:url("header.jpg");
    height:70px;
 	background-repeat: no-repeat;
	background-size:100% 100%;
	text-align:center;
	color:black;
}
#nav{

    background-color:#B8B8B8;
    height:40px;
    background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align:center;
	 
}
#text{
	
	Margin-top:10px;	
}
#name-area{
	position:relative;
	
	Margin-top:10px;
}
#chatstuff{
    margin-top:10%;
    text-align:center;
 
}
#footer{
	background-color:#B8B8B8;
	text-align:center;
	color:black;
	height:50px;
}



#btnm
{
  
 
    color: black /*{d-link-color}*/;
	font-weight: bold;  
}

